<a href="https://colab.research.google.com/github/DivyaPatwari/Python-Assignments/blob/main/Assignment_Looping(While).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Looping / Iteration :--
while  loop:-
for loop:--

In [ ]:
# Syntax of while  loop:-

# while condition:
#   statements


# initialize var = 0

# while condition:
#   statements
#   increment / decrement



count = 0
while count <=10:
  print("Count=" , count)
  count = count+1 # count+=1

print("Bbye Counter")

Count= 0
Count= 1
Count= 2
Count= 3
Count= 4
Count= 5
Count= 6
Count= 7
Count= 8
Count= 9
Count= 10
Count= 11
Count= 12
Count= 13
Count= 14
Count= 15
Count= 16
Count= 17
Count= 18
Count= 19
Count= 20
Count= 21
Count= 22
Count= 23
Count= 24
Count= 25
Count= 26
Count= 27
Count= 28
Count= 29
Count= 30
Count= 31
Count= 32
Count= 33
Count= 34
Count= 35
Count= 36
Count= 37
Count= 38
Count= 39
Count= 40
Count= 41
Count= 42
Count= 43
Count= 44
Count= 45
Count= 46
Count= 47
Count= 48
Count= 49
Count= 50
Count= 51
Count= 52
Count= 53
Count= 54
Count= 55
Count= 56
Count= 57
Count= 58
Count= 59
Count= 60
Count= 61
Count= 62
Count= 63
Count= 64
Count= 65
Count= 66
Count= 67
Count= 68
Count= 69
Count= 70
Count= 71
Count= 72
Count= 73
Count= 74
Count= 75
Count= 76
Count= 77
Count= 78
Count= 79
Count= 80
Count= 81
Count= 82
Count= 83
Count= 84
Count= 85
Count= 86
Count= 87
Count= 88
Count= 89
Count= 90
Count= 91
Count= 92
Count= 93
Count= 94
Count= 95
Count= 96
Count= 97
Count= 98
Count= 99
Count= 100
Bbye Counter

In [ ]:
#Print a series of number from one to 100 if you ur nos is 20 then print nos is 20 and if your nos is 50 print nos is 50

nos = 0
while nos<=100:
  if(nos==20 or nos==50):
    print("nos is 20 and nos is 50")
  elif(nos==50):
    print("Nos is 50")
  nos +=1

nos is 20 and nos is 50
nos is 20 and nos is 50

In [ ]:
#Fibonacci Sequence
# 0 1 1 2 3 5 8 13 21
nos = int(input("Enter how many number you want to display"))

x = 0
y = 1

c = 2
print("Fibonacci Sequence is ")
print(x)
print(y)

while(c<nos):
  z = x+y
  print(z)
  x = y
  y = z
  c+=1

Enter how many number you want to display10
Fibonacci Sequence is
0
1
1
2
3
5
8
13
21
34

In [ ]:
#Program to find the sum of given number:--

n = int(input("Enter a number"))

s = 0
while(n>0):
  rem = n%10
  s = s+rem
  n =  int(n/10)

print("Sum of numbers" , s)

Enter a number123
Sum of numbers 6

In [ ]:
#Program to find out the reverse of  a given nos


n = int(input("Enter a number"))

rev = 0
while(n>0):
  rem = n%10
  rev = rev*10+rem
  n =  int(n/10)

print("Sum of numbers" , rev)

Enter a number54321
Sum of numbers 12345

In [ ]:
# Nested Loops :--
# 1
# 1 2
# 1 2 3
# 1 2 3 4


i = 1
while i<5:
  j= 1
  while j<(i+1):
    print(j , end = ' ' )
    j = j+1
  i = i+1
  print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
#Assignments nos -2 :--

In [ ]:
# Program which prints the fibonacci series of a number and write the conditions that nos should not be negative
x = int(input("Enter the number till where you want fibonacci series"))
if(x<0):
  print("This is a negative number. Please enter a number greater than 0")
else: a=0
b=1
count =0
print(a)
print(b)
while (count<x):
  temp = a+b
  print(temp)
  a=b
  b=temp
  count +=1

Enter the number till where you want fibonacci series-8
This is a negative number. Please enter a number greater than 0
0
1

In [ ]:
# Program that finds the distance between 2 points (x1  , y1) and (x2 , y2) using equation formula

x1 = float(input("Enter the value of x1: "))
y1 = float(input("Enter the value of y1: "))
x2 = float(input("Enter the value of x2: "))
y2 = float(input("Enter the value of y2: "))

dist = ((x2-x1)**2 + (y2-y1)**2) **(1/2)

print(dist)

Enter the value of x1: 3
Enter the value of y1: 2
Enter the value of x2: 6
Enter the value of y2: 6
5.0

In [ ]:
# Program to find the best of two test avearage marks out of three and  test's marks is accepted from the user
a = float(input("Enter Test 1 Marks: "))
b= float(input("Enter Test 2 Marks:"))
c= float(input("Enter Test 3 Marks: "))

avg1 = (a+b)/2
avg2 = (b+c)/2
avg3 = (a+c)/2

if (avg1 > avg3 and avg2 > avg3):
  print ("Best 2 avg marks are test1 and 2:", avg1, avg2)
elif (avg1 > avg2 and avg3 > avg2):
  print ("Best 2 avg marks are test1 and 3:", avg1, avg3)
else:
   print ("Best 2 avg marks are test2 and 3:", avg2, avg3)

Enter Test 1 Marks: 10
Enter Test 2 Marks:30
Enter Test 3 Marks: 50
Best 2 avg marks are test2 and 3 40.0 30.0

In [ ]:
# Program to find the area of triangle and perimeter of triangle

a = float(input("Enter side1: "))
b= float(input("Enter side2: "))
c= float(input("Enter side3: "))

print ("perimeter of triangle =", a+b+c)

s=(a+b+c)/2
area = (s * (s-a) * (s-b) * (s-c)) **(1/2)

print ("Area of triangle = ", area)

Enter side1: 20
Enter side2: 20
Enter side3: 10
perimeter of triangle = 50.0
Area of triangle =  96.82458365518542

In [ ]:
# Program to swap the two variables without using the third variable

a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))

a = a+b
print (a)
b = a-b
a = a-b
print ("the value of a after swapping is: ",a)
print ("the value of b after swapping is: ", b)

Enter the value of a: 2
Enter the value of b: 3
5.0
the value of a after swapping is:  3.0
the value of b after swapping is:  2.0

In [ ]:
# Write a python program to add two nos which is integer datatype and its result should be displayed as floating datatype

a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

result = float(a+b)
print (result)

Enter the value of a: 10
Enter the value of b: 2
12.0

In [ ]:

# Program to generate student Result . Accept marks of five subject and display the result according to following conditions:-

# Percentage     Division
# >=75             First Class with Distinction
# >=60 and <75     First Class
# >=45 and <60     Second Class
# >=40 and <45     Pass
# <40              FAIL

Math = int(input("Enter Maths Marks: "))
Sci = int(input("Enter Science Marks: "))
Eng = int(input("Enter English Marks: "))
His = int(input("Enter History Marks: "))
Geo = int(input("Enter Georaphy Marks "))

per = (Math+ Sci+ Eng+ His+ Geo) * 100/ 500

print(per)

if (per >= 75):
  print ("First Class with Distinction")
elif(per >= 60 and per <75):
  print (" First Class")
elif(per >= 45 and per <60):
  print (" Second Class")
elif(per >= 40 and per <45):
  print ("Pass")
else:
  print("FAIL")

Enter Maths Marks: 40
Enter Science Marks: 30
Enter English Marks: 40
Enter History Marks: 30
Enter Georaphy Marks 20
32.0
FAIL

In [ ]:
# Program to print the following pattern

# *
# * *
# * * *
# * * * *


# i = 1
# while i<5:
#   j= 1
#   while j<(i+1):
#     print(j , end = ' ' )
#     j = j+1
#   i = i+1
#   print()


i=0
while(i<4):
  j=0
  while j<(i+1):
      print("*", end = ' ')
      j+=1
  i=i+1
  print()

*
* *
* * *
* * * *

In [ ]:
# Program to print the table of 6 I want O/P as in given format
# 6 * 1 = 6
# 6 * 2 = 12
# 6 * 3 = 18
# .
# .
# .
# .
# 6 * 10 = 60



a = 6
b = 1
while(b <= 10):
  print(a, "*", b, "=", a*b)
# print("{} * {} =". format(a,b), a*b)
  b = b+1

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
# Program which accpets 5 integers values and print "DUPLICATES" if any of the values entered are repeated otherwise it prints
# "ALL UNIQUE" . Let 5 integers are (32 , 45 , 90 ,45 ,6 )
#  Now you can se dupliactes is 45 and uniques are 32 , 90 , 6 so my output should be in below format

# DUPLICATE : 45
# UNIQUE : 32
# UNIQUE : 90
# UNIQUE  : 6


a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
c = int(input("Enter the value of c: "))
d = int(input("Enter the value of d: "))
e = int(input("Enter the value of e: "))

list = [a,b,c,d,e]
dup=[]
unq=[]

i=0

while (i<len(list)):
  if(list[i] not in unq):
    unq.append(list[i])
  elif(list[i] not in dup):
    dup.append(list[i])
  i+=1

dup_set = set(dup)
unq_set = set(unq)
unq_set = unq_set - dup_set

i=0
for i in dup_set:
 print("DUPLICATE :", i)
for i in unq_set:
 print("UNIQUE :", i)



# while i<len(dup_set):
#   print("DUPLICATE :", dup_set[i])
#   i+=1
# while i<len(unq_set):
#   print("DUPLICATE :", unq_set[i])
#   i+=1





# print ("DUPLICATE :", dup_set)
# print ("UNIQUE: ", unq_set)





  # j=0
#   while (j<len(list)):
#     if (list[i]==list[j] and  i!=j):
#       dup.append(list[i])
#     j+=1
#   unq.append(list[i])
#   i+=1
# print (dup)
# print (unq - dup)

Enter the value of a: 10
Enter the value of b: 20
Enter the value of c: 10
Enter the value of d: 20
Enter the value of e: 10
DUPLICATE : 10
DUPLICATE : 20