<a href="https://colab.research.google.com/github/DivyaPatwari/Python-Assignments/blob/main/Assignment_DATATYPE(CX_73).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Variable :--
# Naming Conventions:--

# 1) alphanumeric Charcaters and underscore Characters
# _abc
# a_b_c
# abc
# abc_

# 2) A variable cannot begin with Number
# 45abc
# 87bc
# 78nsjdj

# _546sjas

# age =
# Name =
# Hobby =

# 3) Variables are case Sensitive:--
# age =
# AGE =

# Independent
# IndePendent


# 4) variables names should not  be reserved word or Keywords

# and =
# not
# and
# True
# False
# or
# for while
# if else if elif



# 5) No special characters are  used except underscore in variable declaration

# ! , @ , # , $ , % , ^ , & , * , ( , ) , - , +  , =

# Except _abc =

# 6) If your Variable is too long then write in single word dont put a gap in letters

# mynameisthisandthis =
# my_name_is_this_and_this =


# 7) Variables can be of  Unlimited length

In [ ]:
Comments :--
a = 57 #I've stored integer number in my variable a

Comments are of two types :-
Single Line Comments :-- # This is single line comments
Multiple Line Comments :-

"""
This
is
Multiple
Line
Comments

"""

In [ ]:
#Basics of Python

# DataType :-
# Standard DataType :--

# Numbers
# String
# List
# Tuple
# Dictionary
# Boolean
# Set

In [ ]:
#Boolean (True / False)

In [ ]:
#Numbers :--
# Sub Datatypes :--
# 1) Integers (int datatype)
#     whole numbers values

a = 57
b = 76  # 76 is stored in b not like  b is equal to 76

print(a)

print(b)

print(a , b)

# I want to see it which type of data or value is stored in varaible

# type() :- its is function to determine the type of variable
print(type(a))

print(type(a) , a , type(b) , b)

57
76
57 76
<class 'int'> 57 <class 'int'> 76

In [ ]:
# Floating point numbers(float Data Type):--
# E.g -0.5 , -3.14 , 256.32 ,-2.365 , -1350.0000 , 5610.234


float_1_negative = -0.5
float_2_positive = 5610.234



print(float_1_negative)

print(float_2_positive)


print(type(float_1_negative))



print(72e4)

# 72000
# 72000.00
# 72000.0
# Error


print(72e-3)

-0.5
5610.234
<class 'float'>
720000.0
0.072

In [ ]:
# Complex Numbers(complex Data type)

complex_nos = 3+4j

com_nos2 = 5j

print(com_nos2)

print(complex_nos)

print(complex_nos.real)

print(complex_nos.imag)

print(complex_nos.conjugate)

print(type(com_nos2))

5j
(3+4j)
3.0
4.0
<built-in method conjugate of complex object at 0x7c92dd0a83f0>
<class 'complex'>

In [ ]:
#String Data Type(str Data Type):--
# What is String?
#    String is collection of Characters(a , b , c , A, ,B , C, 4,5,8,9,!, @, # ,$)
#    that is enclosed in single Quotes or Double Quotes

s1 = "Hello" # This is Double-Quoted String
print(s1)

s2 = 'Hello'  # This is Single-Quoated String
print(s2)

print(type(s1))

print(type(s2))


# int Age = 30

# string name = "Hi"

# Declaration and Assignment

# a;  #Declaration :- we dont store any kind of data or value
# a = 10 #Assignment  :- We have Decalare the variable and we have given some data in that variable

Name = "Ganesh"
Age = 30


print(Name)
print(Age)


print("My name is ", Name , "and my age is ", Age)

Hello
Hello
<class 'str'>
<class 'str'>
Ganesh
30
My name is  Ganesh and my age is  30

In [ ]:
#List[] (list DataType):-- It is an Order Collection of Items  and it is mutable
Ganes_EmpId = 41054

Piyus_EmpId = 454812

Priyanka_Empid = 455564

Emp_Ids_TATA  = [1,2,3,4,5,6,7,8,9,10]

Emp_Ids_infosys = [11,12,13,14,15,16,17,18,19,20]

Emp_Ids_Tesla = [100,200,300,400,500,600,700,800,900,1000]

Emp_Ids_TATA_infosys_Tesla = [[1,2,3,4,5,6,7,8,9,10] ,[11,12,13,14,15,16,17,18,19,20] ,[100,200,300,400,500,600,700,800,900,1000  ]]

print("The Employee IDs for TATA Company :--" ,Emp_Ids_TATA )


print(type(Emp_Ids_TATA_infosys_Tesla))

The Employee IDs for TATA Company :-- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [ ]:
# Tuple() DataType (tuple Data Type):--
#   It is an Ordered Sequence of items same as list  and tuple is immutable

tuple_items = (11,2002,13,14,15,16,17,18,19,20)

print(tuple_items)

print(type(tuple_items))

(11, 2002, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [ ]:
#Dictionary{} (dict datatype) :--
  #  It is an unordered Collection of Key-Value Pairs

dictionary= {"Name":"Ganesh" , "Age":54}

print(dictionary)


print(type(dictionary))

{'Name': 'Ganesh', 'Age': 54}
<class 'dict'>

In [ ]:
#SET :--
    #  It is Unordered Collection of Items
    #  Every element/ items /values / datas inside the set  it must be unique


sets = {1,2,3,4,5,6 , 6,6,6,6,5,5,5,4,4,4,9,93,3,2,1,5}


LIST = [1,2,3,4,5,6 , 6,6,6,6,5,5,5,4,4,4,9,93,3,2,1,5]
print(type(sets))

print(sets)

days = {"Mon" , "Tues" ,"Weds" , "Thurs" , "Fri" , "Sat" ,"Sun" ,"Mon"}

print(days)

print(LIST)

<class 'set'>
{1, 2, 3, 4, 5, 6, 9, 93}
{'Sun', 'Mon', 'Weds', 'Tues', 'Thurs', 'Sat', 'Fri'}
[1, 2, 3, 4, 5, 6, 6, 6, 6, 6, 5, 5, 5, 4, 4, 4, 9, 93, 3, 2, 1, 5]

In [ ]:
# Assignment Questions:--

In [ ]:
#Question-1
# Create five Numbers  Variables and Assign Some Values in it and display the Output of  that Variables.

a = 5
Age = 24
length = 60
count_of_emp = 500
no_of_states = 29

print(a)
print(Age)
print(length)
print(count_of_emp)
print(no_of_states)

5
24
60
500
29

In [ ]:
#Question-2
# Create Five String Variables and Assigns Some Values in it and display the Output of that Variables

Name = 'Divya'
Company = 'LTI'
City = 'Mumbai'
Phone = 'iphone'
Message = "Happy New Year"

print(Name)
print(Company)
print(City)
print(Phone)
print(Message)

print ("Hello, My name is", Name, "and I am from", City, "I wish you a", Message)

Divya
LTI
Mumbai
iphone
Happy New Year
Hello, My name is Divya and I am from Mumbai I wish you a Happy New Year

In [ ]:
#Question-3
# Store Days of the week  in One Variable

weekdays = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'}
print(weekdays)




#Question-4
# Store at least 10  Floating point Number in one Variable

Floating_pt_Nos = [3.14, 9.8, 2.4, 42.2, 63.3, 99.9, 92.2, 89.4, 84.9, 100.9]

print(Floating_pt_Nos)

{'Thursday', 'Monday', 'Wednesday', 'Tuesday', 'Saturday', 'Friday', 'Sunday'}
[3.14, 9.8, 2.4, 42.2, 63.3, 99.9, 92.2, 89.4, 84.9, 100.9]

In [ ]:
#Question-5
# Create a Dictionary to store the data of Square of the Given Nos upto 10

Squares = {1:1, 2:4, 3:9, 4:16, 5:25, 6:36,7:49, 8:64, 9:81, 10:100}

print(Squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#Question-6
# Create Five SET Variables and Assigns Some Values in it and display the Output of that Variables

set1 = {111, 222, 333, 444, 555}
set2 = {'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'}
set3= {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'}
set4 = {1,1,2,3,4,5,6,7,7,8,9,10} # duplicates given purposely
set5 = {1,4,9,16,25}

print(set1)
print(set2)

print(set3)

print(set4)

print(set5)

{555, 444, 333, 222, 111}
{'Sep', 'Oct', 'Nov', 'Jul', 'Feb', 'Dec', 'Jun', 'Mar', 'May', 'Aug', 'Jan', 'Apr'}
{'Thursday', 'Monday', 'Wednesday', 'Tuesday', 'Saturday', 'Friday', 'Sunday'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{16, 1, 4, 9, 25}

In [ ]:
#Question-7
# Create Five Tuples Variables and Assigns Some Values in it and display the Output of that Variables

tup1 = (1,1,2,3,4,5,6,7,7,8,9,10)
squares = (1,4,9,16,25)

Month_nos = (1,2,3,4,5,6,7,8,9,10, 11,12)
tup4 = (3.14, 9.8, 22.2, 44.4, 66.6, 88.8)
tup5 = (11,21,31,41,51)

print(tup1)
print(squares)
print(Month_nos)
print(tup4)
print(tup5)

(1, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10)
(1, 4, 9, 16, 25)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
(3.14, 9.8, 22.2, 44.4, 66.6, 88.8)
(11, 21, 31, 41, 51)

In [2]:
#Question-8
# a = 72e3
# What is the meaning of a ?

a = 72 * (10**3)

In [1]:
#Question-9
# b = 72e-5
# What is the meaning of b ?

b = 72 * (10**-5)

In [ ]:
#Question-10

# Create Five different data types of variables and Show the type of the variable:-

Age = 24
reply = True
complex_no = 5+5j
Message = "Happy New Year"
Emp_Ids = [100,200,300,400,500,600,700,800,900,1000]
tup5 = (11,21,31,41,51)
Squares = {1:1, 2:4, 3:9, 4:16, 5:25, 6:36,7:49, 8:64, 9:81, 10:100}
Month_names = {'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'}


print(type(Age))
print(type(reply))
print(type(complex_no))
print(type(Message))
print(type(Emp_Ids))
print(type(tup5))
print(type(Squares))
print(type(Month_names))

<class 'int'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>